body {
    background: #f5f5f5;
    color: #757575;
}

.login-wrapper {
    height: 488px;
    background: #ffd7c4 url(../img/login_bg.jpg) center center no-repeat;
    overflow: hidden;
}

.login-wrapper .login-box {
    width: 420px;
    margin-top: 40px;
    margin-left: 570px;
    padding: 20px;
    background-color: #fff;
}
.login-wrapper .login-box .login-tabs{
    height: 44px;
    border-bottom: 2px solid #d9d9d9;
}
.login-wrapper .login-box li {
    float: left;
}

.login-wrapper .login-box li a {
    font-size: 16px;
    display: block;
    width: 102px;
    height: 40px;
    margin-bottom: 2px;
    padding: 10px 35px;
}
.login-wrapper .login-box li.current{
    border-bottom: 2px solid orange;
}

.login-wrapper .login-box .logMethod{
    float: right;
    margin-right: 38px;
    color: #ff6a00;
    font-size: 14px;
    line-height: 35px;
}
.login-wrapper .wrap{
    padding: 0 36px;
}
.login-wrapper input{
    width: 304px;
    height: 30px;
    padding: 10px;
    border: 1px solid #d2d2d2;
}
.login-wrapper .prompt{
    font-size: 12px;
    color: #ccc;
    padding: 2px 0 8px;
    text-indent: 0.5em;
}
.login-wrapper .verify input{
    width: 110px;
    margin-right: 8px;
}
.login-wrapper .verify img{
    height: 25px;
    width: 100px;
    vertical-align: middle;
}
.login-wrapper .verify .refresh{
    vertical-align: middle;
    color: #ff6a00;
    font-size: 12px;
}
.login-wrapper .verify .refresh:hover{
    text-decoration: underline;
}
.login-wrapper .verify .cge{
    font-size: 12px;
}

.login-wrapper .login-box button{
    width: 304px;
    height: 35px;
    border: 1px solid #f56600;
    background-color: #f56600;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 8px;
}