<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sias.dao.AdminDao">
  	
  	<!-- 后台:管理员登录方法 -->
  	<select id="login" parameterType="String" resultType="Admin">
  		select id,username,password
  		from f_admin where username=#{username}
  	</select>
 
</mapper>
